.input1 {
    border: 2px solid cornflowerblue;
    border-radius: 26px;
    text-align: center;
    padding: 4px;
    border: 2px solid cornflowerblue;
    border-radius: 26px;
    background-color: transparent;
    display: list-item;
    color: #fff;
    position: relative;
    left: 420px;
    margin: 10px;
    top: -2px;
  }
  
  .button{
  border-color: cornflowerblue;
  position: relative;
  top: 42px;
  right: 209px;
  border-radius: 10px;
  margin: 5px;
  width: 58px;
  }