#css-1nrlq1o-MuiFormControl-root{
    display: inline-flex;
    flex-direction: column;
    border: 1px black solid;
    vertical-align: top;
    width: 24%;
    border-radius: 11px;
}
#demo-simple-select-label{
    font-size: 20px;
}
#demo-simple-select{
    font-size: 20px;
}
#css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    font-size: 20px;
}

/* .Button{
    transition-duration: 0.4s;
    background-color: #e9e498;
    color:#06c9ef75;
    border:#06c9ef75 solid;
    margin:7px;
    width:15vmax;
}
.Button:hover{
    background-color: rgb(11 119 161 / 87%);
    color: #e9e498;
    border:#06c9ef75 solid;
} */
.updateCard{
    text-align: center;
    padding: 4px;
    /* border: 2px solid cornflowerblue; */
    border-radius: 26px;
    background-color: rgb(0,0,0,0.1);
    display: list-item;
    color:black;
    position: relative;
    left: 125px;
    margin: 10px;
    top: -12px;
    width: 240px;
    height: 30px;
}
.buttonUpdateCard{
    position: relative;
    top: 22px;
    left: 11px;
    width: 130px;
    height: 30px;
    background-color: cadetblue;
    border-radius: 5px;
     
}