#css-1nrlq1o-MuiFormControl-root{
    display: inline-flex;
    flex-direction: column;
    border: 1px black solid;
    vertical-align: top;
    width: 24%;
    border-radius: 11px;
}
#demo-simple-select-label{
    font-size: 20px;
}
#demo-simple-select{
    font-size: 20px;
}
#css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    font-size: 20px;
}
.container{
    background-color: #06c9ef75;
    color: #0e0d0d;
    width: 20%;
    height: 25%;
    margin: 10px;
    text-align: center;
    line-height: 43px;
    font-size: 23px;
}
.container:hover{
    border: 7px #e9e498 solid;
    border-radius: 12px;
}
.flex-container{
    display: flex;
    height: 70vmin;
    border: 1px black solid;
}
.Button{
    transition-duration: 0.4s;
    background-color: #e9e498;
    color:#06c9ef75;
    border:#06c9ef75 solid;
    margin:7px;
    width:15vmax;
}
.Button:hover{
    background-color: rgb(11 119 161 / 87%);
    color: #e9e498;
    border:#06c9ef75 solid;
}