
.updateCard{
    text-align: center;
    padding: 4px;
    /* border: 2px solid cornflowerblue; */
    border-radius: 26px;
    background-color: rgb(0,0,0,0.1);
    display: list-item;
    color:black;
    position: relative;
    left: 125px;
    margin: 10px;
    top: -12px;
    width: 240px;
    height: 30px;
}
.buttonUpdateCard{
    position: relative;
    top: 22px;
    left: 11px;
    width: 130px;
    height: 30px;
    background-color: cadetblue;
    border-radius: 5px;
     
}