
.input {
    padding: 8px;
    border: 2px solid cornflowerblue;
    border-radius: 26px;
   background-color:transparent;
    display: list-item;
    color: #fff;
    position: relative;
    
    margin: 10px;
   
  }
  
  .button{
    border-color: cornflowerblue;
    top: -10px;
    right: 192px;
    border-radius: 10px;
    margin: 5px;
    width: 84px;
  }
.div{
      width: 500px;
      height: 347px;
      margin: 60px auto 0;
      padding: 35px;
      border: 3px solid #fff;
      border-radius: 29px;
      width: 278px;
     height: 375px;
     text-align: right;
     background-color: rgba(0,0,0,0.6);
}
  .text{
      font-size: 2px;
      
      visibility: hidden;
  }
.x{
    color:white;
}
