.img {
    width: 218px;
    height: 222px;
  }
  .pool{
  
    font-family: 'Times New Roman', Times, serif;
    display: inline-table;
    margin-bottom: 2%;
    margin:8px;
    background-color:white;
 }