.li{
    text-align: right;
  font-size:18px;
  text-align: right;
  width: 226px;
  font-size: 18px;
  position: relative;
  left: 650px;
  border: 2px solid black;
}

.div1{
  width: 500px;
  height: 450px;
  margin: 60px auto 0;
  padding: 35px;
  margin-left: 7px;
  border: 3px solid #fff;
  border-radius: 29px;
  width: 178px;
  height: 103px;
  color: white;
  text-align: right;
  position: relative;
  background-color: rgba(0,0,0,0.6);
  top: -54px;
  left:-5px;
  display: inline-table;
}



.button1 {
  border-color: cornflowerblue;
  position: relative;
  top: 114px;
  right: 156px;
  border-radius: 10px;
  margin: 10px;
  width: 93px;
}
body{text-align: center;}

.ManagerButtons{
  border-color: cornflowerblue;
    color: black;
    border-radius: 10px;
    margin: 3px;
    top: -91px;
    right: 6px;
    position: relative;
    width: 47px;
  }




  @-webkit-keyframes extend {
      0% {
          width: 100px;
          height: 50px;
          border-radius: 100px;
          } 10% {
          width: 110px;
          height: 60px;
          background: #fff;
          margin-left: - 5px;
          margin-top: - 5px;
          } 20% {
          width: 100px;
          height: 50px;
          background: #6fb07f;
          margin-left: 0px;
          margin-top: 0px;
          } 100% {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          margin-left: 190px;
          background: #6fb07f;
          }
      }
  @keyframes extend {
      0% {
          width: 100px;
          height: 50px;
          border-radius: 100px;
          } 10% {
          width: 110px;
          height: 60px;
          background: #fff;
          
          } 20% {
          width: 100px;
          height: 50px;
          background: #6fb07f;
          
          } 100% {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          background: #6fb07f;
          }
      }
  
  @-webkit-keyframes disappear {
      0% {
          opacity: 1;
          } 20% {
          color: #fff;
          } 100% {
          opacity: 0;
          }
      }
  @keyframes disappear {
      0% {
          opacity: 1;
          } 20% {
          color: #fff;
          } 100% {
          opacity: 0;
          }
      }

  
  @-webkit-keyframes appear {
      0% {
          opacity: 0;
          } 70% {
          opacity: 0;
          } 100% {
          opacity: 1;
          }
      }
  @keyframes appear {
      0% {
          opacity: 0;
          } 70% {
          opacity: 0;
          } 100% {
          opacity: 1;
          }
      }
  
  
  input, button, submit {
      border: none
      }
  
  .cont {
      position: absolute;
      width: 50px;
      height: 10px;
      
      left: 178%;
      top: 160%;
      margin: -100px 0 0 -300px
      }
  
  button {
      border-width: 0.5px;
      width: 100px;
      
      height: 50px;
      /*border-radius*/
      border-radius: 100px;
      background: #fff;
      /* position: absolute; */
      border: 5px solid #6fb07f
      }
  
  button > span {
      font-size: 12px;
      color: #6fb07f
      }
  
.img2 {
      position: absolute;
      top: 24px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0
      }
  
  button:focus {
      /*animation*/
      -webkit-animation: extend 1s ease-in-out;
      -ms-animation: extend 1s ease-in-out;
      animation: extend 1s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      /* Chrome, Safari, Opera */
      animation-fill-mode: forwards
      }
  
  button:focus > span {
      /*animation*/
      -webkit-animation: disappear 1s ease-in-out;
      -ms-animation: disappear 1s ease-in-out;
      animation: disappear 1s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      /* Chrome, Safari, Opera */
      animation-fill-mode: forwards
      }
  
  button:focus > img {
      /*animation*/
      -webkit-animation: appear 1s ease-in-out;
      -ms-animation: appear 1s ease-in-out;
      animation: appear 1s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      /* Chrome, Safari, Opera */
      animation-fill-mode: forwards
      }

span{
  font-size: 16px;
}