.inputLogin {
  padding: 4px;
  /* border: 2px solid cornflowerblue; */
  border-radius: 26px;
  background-color: rgb(0,0,0,0.1);
  display: list-item;
  color: #fff;
  position: relative;
  left: 253px;
  margin: 10px;
  top: -12px;
  }
  body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .button{
  border-color: cornflowerblue;
  position: relative;
  top: 42px;
  right: 209px;
  border-radius: 10px;
  margin: 5px;
  width: 58px;
  color:black;
  }
  

.formDiv{
  width: 500px;
  height: 400px;
  position: relative;
  left: 290px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  top: -100px;
  background-image:url('../../../public/Pic/sunglasses-1850648_1920.jpg');
  
  background-color: white;
}

.formDiv input{
  text-align: right;

}

.navbar-brand {
  position: relative;
  top: 70px;
  float: right;
  height: 39px;
  padding: 14px 15px;
  font-size: 20px;
  line-height: 16px;
  color: black;
}


.formDiv img{
  width: 15px;
  height:15px;
  position: relative;
  top:19px;
  left:38px;

}

.submitLogin{
  position: relative;
    top: 22px;
    left: 132px;
    width: 130px;
    height: 30px;
    background-color: cadetblue;
    border-radius: 5px;

}
.pass{
  width: 15px;
  height:15px;
  position: relative;
  top: -334px;
  left: -5px;}


